     body{
        background: rgb(53,54,58);
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }


    .logo{
        padding: 250px 0px 0px 500px;
    }

    .header{
        float: right;
    }
    .iconify{
        color: #FFFFFF;
        width: 30px;
        height: 25px; 
        padding: 10px 0px 0px 0px;
    }

    .box { 
        bottom: 350px;
        left: 355px;
        position: absolute;
      }
      
      .box .container-1 input{
         width: 600px;
         height: 45px; 
         border-radius: 25px;
         position: relative;
         text-align: center;
      }
      
    .footer, .footer a
    {
        text-align: center;
        color: #FFF;
        font-size: 20px;
    }

    .country{
        position: absolute;
        bottom: 425px;
        left: 770px;
    }
    
    .footer-left{
        position: absolute;
        bottom: 90px;
        left: 20px;
        font-size: 18px;
    }
    .footer-right{
        position: absolute;
        bottom: 90px;
        right: 20px;
        font-size: 18px;
    }

    .box {
        margin-right:auto;
        margin-left:auto;
        width:100px;
      }

    .header a, .header button
     {
        margin: 10px;
        color: #FFF;
        text-decoration: none;
        font-size: 14px;
    }

    .header button{
        background: #4484f1;
        padding: 6px; 
        font-size: 14px;
        border-radius: 10%;
        font-weight: bold;
    }

